URxvt*transparent: true
URxvt*shading: 25
URxvt*scrollBar: false
URxvt*background: #000000
URxvt.foreground: #ffffff
URxvt.font: xft:DejavuSansMono:size=12
URxvt.url-select.underline: true
URxvt.url-launcher: /usr/bin/firefox
rofi.modi: ssh,window,drun,run
rofi.combi: modi
rofi.show-icons: true
rofi.icon-theme: adwaita
rofi.disable-history: false
rofi.terminal: urxvt
rofi.ssh-client: ssh
rofi.ssh-command: {terminal} -e {ssh-client} {host}
rofi.run-command: {cmd}
rofi.run-shell-command: {terminal} -e {cmd}
rofi.window-command: xkill -id {window}
